.chatMessage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  /* margin-top: 6px; */
}
.rightChat {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  /* margin-left: 20px; */
  /* margin-top: 6px; */
}
.time {
  font-size: 12px;
  color: #999;
  margin-right: 8px;
}

.message {
  /* margin-top: 10px; */
  background-color: lightgreen;
  border-radius: 1px 10px 15px;
  padding: 12px;
  /* position: relative; */
}

.messageright {
  /* margin-top: 10px; */
  background-color: #c9ddf5;
  border-radius: 10px 1px 10px 10px;
  padding: 12px;
  /* margin-right: 20px; */
  /* position: relative; */
}

.messageContent {
  /* margin-right: 10px; */
}

.messageContentright {
  /* margin-left: 10px; */
}
